@import url('https://fonts.cdnfonts.com/css/neue-machina');
*{
    margin: 0px;
}
.comp{
    display: block;
}
.phone{
    display: none;
}
body{
  font-family: 'Neue Machina', sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
  font-size: 18px;
  color: #151515;
}

h1{
    font-size: 80px;
    font-family: 'Neue Machina', sans-serif;
    font-weight: 800;
}
h2{
    font-size: 60px;
    font-family: 'Neue Machina', sans-serif;
    font-weight: 400;
}
h3{
    font-size: 20px;
    font-family: 'Neue Machina', sans-serif;
    font-weight: 400;
}
h4{
    font-size: 28px;
    font-family: 'Neue Machina', sans-serif;
    font-weight: 400;
}
.btn{
    width: 145px;
    height: 52px;
    background-color: #151515;
    color: aliceblue;
    font-family: 'Neue Machina', sans-serif;
    font-weight: 200;
    letter-spacing: -1px;
    font-size: 18px;
}
.sectiontext
{
    display: flex;
    gap: 40px;
    align-items: center;
    width: 60%;
}
.sectiontext2{
    display: flex;
    gap: 30px;
    align-items: center;
}
.section-1{
    display: flex;
    justify-content: space-around;
    height: 120px;
    gap: 40px;
}






@media(max-width:510px) {
  .comp{
    display: none;
}
.phone{
    display: block;
}
  
    h1{
    font-size: 80px;
    font-weight: 800;
}
h2{
    font-size: 28px;
    
}
h3{
    font-size: 20px;
}
h4{
    font-size: 28px;
}
.sectiontext{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
}
    