@import url('https://fonts.cdnfonts.com/css/neue-machina');
*{
    margin: 0px;
}
.comp{
    display: block;
}
.phone{
    display: none;
}
body{
  font-family: 'Neue Machina', sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
  font-size: 18px;
  color: #151515;
}

h1{
    font-size: 80px;
    font-family: 'Neue Machina', sans-serif;
    font-weight: 800;
}
h2{
    font-size: 60px;
    font-family: 'Neue Machina', sans-serif;
    font-weight: 750;
}
h3{
    font-size: 20px;
    font-family: 'Neue Machina', sans-serif;
    font-weight: 400;
}
h4{
    font-size: 28px;
    font-family: 'Neue Machina', sans-serif;
    font-weight: 400;
}
.btn{
    width: 145px;
    height: 52px;
    background-color: #151515;
    color: aliceblue;
    font-family: 'Neue Machina', sans-serif;
    font-weight: 200;
    letter-spacing: -1px;
    font-size: 18px;
}
.sectiontext
{
    display: flex;
    gap: 40px;
    align-items: center;
    width: 60%;
}
.sectiontext2{
    display: flex;
    gap: 30px;
    align-items: center;
}
.section-1{
    display: flex;
    justify-content: space-around;
    height: 120px;
    gap: 40px;
}
.boxtext{
    display: flex;
    flex-direction: column;
    width: 721px;
    height: auto;
    gap: 40px;
}
.iconvisa{
    display: flex;
    gap: 25px;
}
input{
    background-color: #ffffff;
    color: #151515;
    border: 1px solid #151515;
    width: 280px;
    height: 52px;
}
.btn2{
    background-color: #151515;
    width:198px ;
    height: 56px;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
}
.inputbutton{
    display: flex;
}
.main-alwaus{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.abouttext{
    width:750px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn3{
    width: 108px;
    height: 36px;
    background-color: #F0F0F0;
    border: 1px solid #151515;
    font-weight: 800;
}
.dotblackflex{
    display: flex;
    gap: 25px;
    align-items: center;
}
.aboutus{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}











@media(max-width:510px) {
  .comp{
    display: none;
}
.phone{
    display: block;
}
  
    h1{
    font-size: 80px;
    font-weight: 800;
}
h2{
    font-size: 28px;
    
}
h3{
    font-size: 20px;
}
h4{
    font-size: 28px;
}
.sectiontext{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.main-alwaus{
    flex-direction: column;
    width: 100%;
}
.inputbutton{
    width: 90%;
    margin: auto;
}
.input{
    width: 290px;
    padding: 0px 10px;
}
.btn2{
    width: 140px;
    height: 54px;
    font-size: 16px;
}
.img{
    width: 100%;
}
.boxtext{
    width: 90%;
    margin: auto;
}
.iconvisa{
    width: 90%;
    margin: auto;
}
.aboutus{
    flex-direction: column-reverse;
    margin-top: 70px;
}
.abouttext{
    width: 95%;
    gap: 30px;
}
}
    