@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@0;1&family=Inter:opsz,wght@14..32,100..900&family=Ruslan+Display&display=swap');
*{
    margin: 0px;
}
.comp{
    display: block;
}
.phone{
    display: none;
}
body{

  font-family: "Ruslan Display", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}
p{
    font-size: 16px;
    font-weight: 500;
}
.style{
  font-family: "Ruslan Display", sans-serif;
  font-weight: 100;
  font-style: normal;
}
h1{
    font-size: 80px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
h2{
    font-size: 60px;
    font-weight: 750;

  font-family: "Ruslan Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h3{
    font-size: 20px;
    font-family: 'Neue Machina', sans-serif;
    font-weight: 400;
}
h4{
    font-size: 28px;
    font-family: 'Neue Machina', sans-serif;
    font-weight: 400;
}
.btn{
    width: 145px;
    height: 52px;
    background-color: #151515;
    color: aliceblue;
    font-family: 'Neue Machina', sans-serif;
    font-weight: 200;
    letter-spacing: -1px;
    font-size: 18px;
}
.sectiontext
{
    display: flex;
    gap: 40px;
    align-items: center;
    width: 60%;
}
.sectiontext2{
    display: flex;
    gap: 30px;
    align-items: center;
}
.section-1{
    display: flex;
    justify-content: space-around;
    height: 120px;
    gap: 40px;
}
.boxtext{
    display: flex;
    flex-direction: column;
    width: 721px;
    height: auto;
    gap: 40px;
}
.iconvisa{
    display: flex;
    gap: 25px;
}
input{
    background-color: #ffffff;
    color: #151515;
    border: 1px solid #151515;
    width: 280px;
    height: 52px;
}
.btn2{
    background-color: #151515;
    width:198px ;
    height: 56px;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
}
.inputbutton{
    display: flex;
}
.main-alwaus{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.abouttext{
    width:750px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn3{
    width: 108px;
    height: 36px;
    background-color: #F0F0F0;
    border: 1px solid #151515;
    font-weight: 800;
}
.dotblackflex{
    display: flex;
    gap: 25px;
    align-items: center;
}
.aboutus{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.libriesiconflex{
    display: flex;
    gap: 20px;
}
.text2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    font-size: 18px;
}
.Howitworks{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.libriesiconflex{
    display: flex;
    flex-direction: column;

}
.iconflexetxt{
    display: flex;
    margin-top: 40px;
}
.abouttext2{
    width: 750px;
    line-height: normal;
}
.abouttext2{
    line-height: 220%;
}
.selectlevelflex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    gap: 20px;
} 
.abouttext3{
    width: 755px;
    height: auto;
    text-align: end;
}
.month{
    width: 200px;
    height: 90px;
    display: flex;
}
.ptext{
    font-weight: 700;
}
.ptext3{
    font-weight: 700;
    display: flex;
    align-items: end;
}
.box{
    width: 406px;
    height: 554px;
    background-color:#F0F0F0 ;
    border: 1px solid #151515;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.dotblack2{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;

}
.btn4{
    width: 386px ;
    height: 52px;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #151515;
    margin-top: 120px;
    border: none;
}
.dotblackfull{
    margin-top: 30px;
}
.box2{
    background-color: #151515;
    color: #FFFFFF;
}
.btn5{
    background-color: #F0F0F0;
    color: #151515;
    border: none;
}
.boxfulwrap{
    display: flex;
    justify-content: space-between;
    width: 82%;
    margin: auto;
}
.Pricing{
    margin-top: 190px;
}





@media(max-width:510px) {
  .comp{
    display: none;
}
.phone{
    display: block;
}
  
    h1{
    font-size: 80px;
    font-weight: 800;
}
h2{
    font-size: 28px;
    
}
h3{
    font-size: 20px;
}
h4{
    font-size: 28px;
}
.sectiontext{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.main-alwaus{
    flex-direction: column;
    width: 100%;
}
.inputbutton{
    width: 90%;
    margin: auto;
}
.input{
    width: 290px;
    padding: 0px 10px;
}
.btn2{
    width: 140px;
    height: 54px;
    font-size: 16px;
}
.img{
    width: 100%;
}
.boxtext{
    width: 90%;
    margin: auto;
}
.iconvisa{
    width: 90%;
    margin: auto;
}
.aboutus{
    flex-direction: column-reverse;
    margin-top: 70px;
}
.abouttext{
    width: 95%;
    gap: 30px;
}
.Howitworks{
    flex-direction: column;
    width: 100%;
}
.abouttext2{
    width: 90%;
}
.iconflexetxt{
    gap: 30px;
}
.selectlevelflex{
    flex-direction: column-reverse;
    width: 100%;
}
.abouttext3{
    width: 90%;
    text-align: start;
}
.boxfulwrap{
    width: 100%;
    flex-wrap: wrap;

}
.box{
    width: 70%;
    margin: auto;
    margin-top: 20px;
}
.btn4{
    width: 100%;
}
}
    